
---
<br />
### SOARing by the seat of your pants
There's a lot of hype with Security Orchestration, Automation and Response (SOAR) and on paper it basically sells itself.  A product that improves Time To Respond (TTR), decreases FTE count and improves job satisfaction is a CISO's wet dream.  But unfortunately, many orgs find it difficult to realise value with their SOAR products and in a way are **soaring by the seat of their pants**. 

This [microblog series](https://pabes.me/tags/soar/) provides some actionable thoughts about how you could enable faster value realisation with your investment.
